<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">

    <title>Justificativos</title>
</head>
<body>



<nav class="navbar navbar-expand-lg bg-light">
    <a class="navbar-brand" href="#">NAVBAR</a>
    <div class = "collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/justificativos">Justificativos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/justificativos/nuevo">Ingresar Justificativo</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/autorizaciones">Autorizaciones</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/autorizaciones/nuevo">Ingresar Autorización</a>
            </li>

        </ul>

    </div>
</nav>





<div class="container">
    <div class="row">
        <h1>Lista de autorizaciones</h1>
    </div>
    <table class="table table-success table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Rut Empleado</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "autorizacion : ${autorizaciones}">
            <td th:text = "${autorizacion.idAutorizacion}">ID</td>
            <td th:text = "${autorizacion.rutEmpleadoAutorizacion}">Rut Empleado</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>