<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">

    <title>Crea Empleado</title>
</head>

<style>
    body{
        background-color: #F8E4D7;
        font-family: "Century Gothic";
        color: #7B9AD1;
    }
    button {
        outline-style: auto;
        outline-color: #F8E4D7;
        background-color: #E49487;
        transition-duration: 0.2s;
    }

    button:hover {
        background-color: #F8E4D7;
    }
    nav{
        background-color: #7B9AD1;
    }
    a{
        color: black;
    }
    a:hover{
        color: black;
    }

</style>

<body >


<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">Inicio</a>
    <div class = "collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/empleados">Ver empleados</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/justificativos">Administrar justificativos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/autorizaciones">Administrar autorizaciones</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/calcularPlanilla">Calcular planilla de sueldos</a>
            </li>

        </ul>

    </div>
</nav>

<br>
<div class="container" style="font-weight:bold;">
    <div class="row">
        <div class="col-lg-6 col-md col-sm-6 container justify-content-center-card">
            <h1 class="text-center">Ingreso de empleado</h1>
            <div class="card-body">


                <form th:action="@{/empleados}" th:object="${empleado}" method="post">
                    <div class="form-group">
                        <label>Rut empleado: </label>
                        <input type="text" name="rutEmpleado" th:field="*{rutEmpleado}" class="form-control" placeholder="Ingrese el rut del empleado (con puntos (.) y guión (-))" requured>
                    </div>

                    <br>
                    <div class="form-group">
                        <label>Apellidos: </label>
                        <input type="text" name="apellidos" th:field="*{apellidos}" class="form-control" placeholder="Ingrese los apellidos del empleado" requured>
                    </div>

                    <br>
                    <div class="form-group">
                        <label>Nombres: </label>
                        <input type="text" name="nombres" th:field="*{nombres}" class="form-control" placeholder="Ingrese los nombres del empleado" requured>
                    </div>

                    <br>
                    <div class="form-group">
                        <label>Fecha de ingreso a la empresa: </label>
                        <input type="date" name="fechaIng" th:field="*{fechaIngreso}" class="form-control" placeholder="Ingresa la fecha de ingreso a la empresa del empleado" required>
                    </div>

                    <br>
                    <div class="form-group">
                        <label>Categoria</label>
                        <select class="form-control" th:field="*{categoria}" required>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                    </div>

                    <br>
                    <div class="form-group">
                        <label>Fecha de nacimiento: </label>
                        <input type="date" name="fechaNac" th:field="*{fechaNacimiento}" class="form-control" placeholder="Ingresa la fecha de nacimiento del empleado" required>
                    </div>

                    <br>
                    <div class="box-footer">
                        <button class="btn" style="background-color: #7B9AD1; font-weight: bold;">Ingresar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>


</body>
</html>