<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">

    <title>Empleados</title>
</head>

<style>
    table{
        background-color: #E49487;
        table-border-color-dark: black;
    }
    body{
        background-color: #F8E4D7;
        font-family: "Century Gothic";
        color: #56C2DD;
    }
</style>

<body>

<body>



<nav class="navbar navbar-expand-lg bg-light">
    <a class="navbar-brand" href="/">Inicio</a>
    <div class = "collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="/justificativos">Administrar justificativos</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/autorizaciones">Administrar autorizaciones</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/calcularPlanilla">Calcular planilla</a>
            </li>

        </ul>

    </div>
</nav>





<div class="container">
    <div class="row">
        <h1>Lista de autorizaciones</h1>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Rut empleado</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Fecha de ingreso</th>
            <th>Sueldo fijo Mensual</th>
            <th>Bonificación por años de servicio</th>
            <th>Pago horas extras</th>
            <th>Descuentos por atrasos e inasistencias</th>
            <th>Sueldo bruto</th>
            <th>Cotización previsional</th>
            <th>Cotización salud</th>
            <th>Sueldo final</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="empleado:${empleados}">
            <tr enctype="multipart/form-data" th:each = "sueldo : ${sueldos}">
                <div th:if="${empleado.rutEmpleado} == ${sueldo.rutEmpleado}">
                    <td th:text = "${sueldo.rutEmpleado}">Rut Empleado</td>
                    <td th:text = "${empleado.apellidos} + ' ' + ${empleado.nombres}"></td>
                    <td th:text = "${empleado.categoria}"></td>
                    <td th:text = "${empleado.fechaIngreso}"></td>
                    <td th:text = "${sueldo.sueldoFijoMensual}">Sueldo fijo mensual</td>
                    <td th:text = "${sueldo.bonificacionAniosServicio}">Años servicio</td>
                    <td th:text = "${sueldo.pagoHorasExtras}">Horas extras</td>
                    <td th:text = "${sueldo.descuentos}">Descuentos</td>
                    <td th:text = "${sueldo.sueldoBruto}">Sueldo bruto</td>
                    <td th:text = "${sueldo.cotizacionPrevisional}">Previsional</td>
                    <td th:text = "${sueldo.cotizacionSalud}">Salud</td>
                    <td th:text = "${sueldo.sueldoFinal}">Sueldo final</td>
                </div>
            </tr>
        </div>
        </tbody>
    </table>
</div>


</body>
</html>